{%extends 'base.html'%}
{%block title%} Course {%endblock%}

{%block body%}


<div class="my-3 py-4 bg-white text-center shadow-sm fw-light">
    <h4>{{course.name}}</h4>
</div>
<div class="my-3 bg-white p-3">
    <h5 class="my-3">All Notes</h5> <hr>

    {% for i in notes%}
    <div class="mb-2 d-flex justify-content-between">
        <a href="{{i.file.url}}" download="{{i.file.url}}">{{i.name}}</a>
        <p><small>uploaded by</small>: {{i.uploader.userdetail.first_name}} {{i.uploader.userdetail.last_name}}</p>
        <p><small>uploaded time</small>: {{i.date}}</p>

    </div>
    <hr>
    {%empty%}
    <p class="text-center p-5 m-5">No notes available.</p>
    {%endfor%}
</div>



{%endblock%}